html,
body {
  background-color: black;
  height: 100%;
  color: yellow;
  font-family: "Varela Round", sans-serif;
  padding: 0%;
  margin: 0%;
  overflow: scroll;
}
/* Header */
#headerContainer {
  border-radius: 8px;
  background-color: black;
  top: 0;
  position: sticky;
}
#title {
  color: yellow;
  margin: auto;
  text-align: center;
}

#newNoteBtn {
  font-size: 15px;
  padding-left: 5px;
  cursor: pointer;
}
#saveNoteBtn {
  display: none;
  font-size: 15px;
  padding-left: 5px;
  cursor: pointer;
}

/* Input Area */
#inputNoteContainer {
  text-align: center;
  display: none;
  height: 95%;
  margin: 24px;
  position: sticky;
}
#inputNote {
  color: yellow;
  height: 75%;
  width: 75%;
  border-color: black;
  background-color: black;
  border-left: 1px solid yellow;
  border-radius: 8px;
  outline-style: none;
  font-family: "Varela Round", sans-serif;
  resize: none;
  padding: 20px;
}
#inputNote::placeholder {
  color: yellow;
  padding: 3px;
}

/* Displayed Notes Area */
#noteDisplayContainer {
  border-radius: 8px;
  margin: 24px;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
}
#noteDisplay {
  background-color: yellow;
  color: black;
  border-radius: 8px;
  text-align: center;
  padding: 24px;
  margin: 12px;
  flex-direction: column;
  flex: 1 2 500px;
}
#noteDisplay:hover {
  background-color: grey;
}

/* Footer */
footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
}

#powered {
  color: grey;
  font-size: 10px;
}
#settingsBtn {
  font-size: 25px;
  float: right;
  margin: 10px;
}

#fawzinajjar {
  color: grey;
  text-decoration: none;
}
